<button (click)="getEmployeeFromService()">Ottieni dipendenti [httpGet]</button>

<p *ngIf="employeesListServer.length > 0">Lista dei dipendenti arrivata</p>


<hr>

<div style="border: 3px;border-style: ridge;">
<input #enrollment type="text" placeholder="inserire matricola"(keydown.enter)="insertSingleInput($event)">
<input #names type="text" placeholder="inserire nominativo"(keydown.enter)="insertSingleInput($event)">
<button (click)="InsertData(enrollment,names)">Conferama</button>
</div>

<hr>

<li *ngFor="let emp of newEmps">
Dipendente: {{emp.name}} - {{emp.enrollment}}
</li>

<pre>
    {{formEmployee.value | json}}
    {{formEmployee.valid}} Valido,
    {{formEmployee.dirty}} Sporco
    {{formEmployee.touched}} Toccato
</pre>
<div>ciaao</div>
<div *ngIf="formEnrollment.errors?.['required']">enrollment is required.</div>

<form #formEmployee="ngForm" (submit)="InsertDataForm(formEmployee)">
    <input type="text" name="matricola" placeholder="enrollment" #formEnrollment="ngModel" [(ngModel)]="newEmp.enrollment" required [ngClass]="{'enrollmentError': formEmployee.dirty}">
    <input type="text" name="nominativo" placeholder="name" [(ngModel)]="newEmp.name" #formName="ngModel" required> 
    <button type="submit" [disabled]="formEmployee.invalid">Conferma</button>
</form>
