<h3>Aggiungi un dipendente:</h3>
<div style="display: flex; align-items: center; padding: 20px;" >
  <input type="text" placeholder="nome" required [(ngModel)]="newEmployName">
  <input type="text" placeholder="eta" required [(ngModel)]="newEmployAge">
  <input type="text" placeholder="ruolo" required [(ngModel)]="newEmployRole">
  <input type="text" placeholder="telefono" required [(ngModel)]="newEmployPhone">
  <input type="text" placeholder="Matricola" required [(ngModel)]="newEmployMatricola">
  <button (click)="sendNewEmployee()">Send</button>
</div>

<h1>Ecco i tuoi dipendenti:</h1>

<div class="container">
    <ul class="employeesContent">
        <li *ngFor="let employee of employeesList" class="singleEmployee">
            <div class="backgroundSingle">
                <p class="empInfo">Matricola: {{employee.matricola}}</p>
                <p class="empInfo">Nome: {{employee.nominativo}}</p>
                <p class="empInfo">Telefono: {{employee.telefono}}</p>
                <p class="empInfo">Attività: 
                    <span>
                    <div *ngIf="employee.attivitaDipendentes.length > 0; then si else no"></div>
                    <ng-template #si>
                      <div class="activityContainer">
                        <div *ngFor="let singleActivity of employee.attivitaDipendentes">
                            <span>{{singleActivity.attivita}} - </span>
                            <span>{{singleActivity.dataAttivita| date:'shortDate'}} - </span>
                            <span>{{singleActivity.ore}} ore</span>
                        </div>
                      </div>
                    </ng-template>
                    <ng-template #no>
                      <div class="activityContainer">
                        N/D
                      </div>
                    </ng-template>
                    </span>
                </p>
            </div>
        </li>
    </ul>
</div>